<ion-header>  
  <ion-navbar>
    <ion-title>Gerenciamento de Atendimentos</ion-title>
  </ion-navbar>  
</ion-header>
<ion-content padding>   
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-item>
          <ion-label floating>Status do atendimento</ion-label>
          <ion-select name="status" [(ngModel)]="status" type="text">
            <ion-option value="1">Em espera</ion-option>
            <ion-option value="2">Em atendimento</ion-option>
            <ion-option value="3">Atendido</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col width-50></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
        <ion-col width-25><h6>Nº Sessão</h6></ion-col>
        <ion-col width-25><h6>Data</h6></ion-col>
        <ion-col width-25><h6>Presença</h6></ion-col>
        <ion-col width-25><h6>Evolução diária</h6></ion-col>
    </ion-row>
    <ion-row *ngFor="let sessao of listaSessoes; let i=index">
      <ion-col width-25>{{i + 1}}</ion-col>
      <ion-col width-25>{{sessao.datasessao | date: 'dd/MM/yyyy':'+0300'}}</ion-col>
      <ion-col width-25>
        <ion-icon ios="ios-create" md="ios-create" title="Inserir assinatura" (click)="inserirAssinatura(sessao)"></ion-icon>
        <ion-icon md="md-eye" title="visualizar assinatura" (click)="visualizar(sessao.assinatura)" *ngIf="sessao.presente == 'true'"></ion-icon>
      </ion-col>
      <ion-col width-25>
        <ion-icon md="md-trending-up" title="Evolução Diária" (click)="evolucaoDiaria(sessao)"></ion-icon>          
      </ion-col>
    </ion-row>
  </ion-grid>
  <button type="button" ion-button color="danger" (click)="cancelar()">Voltar</button>
  <button type="button" ion-button color="danger" (click)="cancelarAtendimento()">Encerrar Atendimento</button>
  <button type="button" ion-button color="secondary" (click)="gravar()">Confirmar</button>
</ion-content>