<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastrar Horário de Professores</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col width-50>
      <ion-item>
        <ion-label floating>Professor(a)</ion-label>
        <ion-select name="professor" [(ngModel)]="professor">
          <ion-option *ngFor="let professor of professores" value="{{ professor.nomeprofessor}}">{{ professor.nomeprofessor }}</ion-option>
          <!-- time Button-->
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-25>
      <ion-item>
        <ion-label floating>Dia da Semana</ion-label>
        <ion-select name="diaSemana" [(ngModel)]="diaSemana">
          <ion-option *ngFor="let diaSemana of diaSemanas" value="{{ diaSemana.descricaosemana }}">{{ diaSemana.descricaosemana }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col width-25>
      <ion-item>
        <ion-label floating>Hora Inicio</ion-label>
        <ion-select name="horaInicio" [(ngModel)]="horaInicio">
          <ion-option *ngFor="let horaInicio of horaInicioA" value="{{ horaInicio.descricaohorainicio }}">{{ horaInicio.descricaohorainicio }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col width-25>
      <ion-item>
        <ion-label floating>Hora Fim</ion-label>
        <ion-select name="horaFim" [(ngModel)]="horaFim">
          <ion-option *ngFor="let horaFim of horaFimA" value="{{ horaFim.descricaohorafim }}">{{ horaFim.descricaohorafim }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-25>
      <button ion-button float-right (click)="adicionarHorario()">Adicionar</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="horarios != ''">
    <ion-col col-auto></ion-col>
    <ion-col><h6>Dia da Semana</h6></ion-col>
    <ion-col><h6>Hora Inicio</h6></ion-col>
    <ion-col><h6>Hora Fim</h6></ion-col>
  </ion-row>
  <ion-row *ngFor="let horario of horarios; let i=index">
    <ion-col col-auto>
        <ion-icon md="ios-trash" title="Remover" (click)="remover(i)"></ion-icon> 
    </ion-col>
    <ion-col>{{horario[0]}}</ion-col>
    <ion-col>{{horario[1]}}</ion-col>
    <ion-col>{{horario[2]}}</ion-col>  
  </ion-row>
  <button ion-button color="danger" menuToggle="left">Cancelar</button>
  <button ion-button color="secondary" (click)="incluirHorario()">Confirmar</button>
</ion-content>
