<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastrar horário de professor</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col width-50>
      <ion-item>
        <ion-label>Horários do(a) professor(a) {{nomeProfessor}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row> 
  <form #f="ngForm" [formGroup]="cadastroHorario">
  <ion-row>
    <ion-col width-25>
      <ion-item>
        <ion-label floating>Dia da Semana</ion-label>
        <ion-select name="diaSemana" [(ngModel)]="diaSemana" formControlName="diaSemana">
          <ion-option *ngFor="let diaSemana of diaSemanas" value="{{ diaSemana.descricaosemana }}">{{ diaSemana.descricaosemana }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col width-25>
      <ion-item>
        <ion-label floating>Hora Inicio</ion-label>
        <ion-select name="horaInicio" [(ngModel)]="horaInicio" formControlName="horaInicio">
          <ion-option *ngFor="let horaInicio of horaInicioA" value="{{ horaInicio.descricaohorainicio }}">{{ horaInicio.descricaohorainicio }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col width-25>
      <ion-item>
        <ion-label floating>Hora Fim</ion-label>
        <ion-select name="horaFim" [(ngModel)]="horaFim" formControlName="horaFim">
          <ion-option *ngFor="let horaFim of horaFimA" value="{{ horaFim.descricaohorafim }}">{{ horaFim.descricaohorafim }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col width-25>
      <ion-item>
        <ion-label floating>Periodo</ion-label>
        <ion-select name="Periodo" [(ngModel)]="Periodo" formControlName="Periodo">
          <ion-option *ngFor="let Periodo of periodo" value="{{ Periodo.descricaoperiodo }}">{{ Periodo.descricaoperiodo }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-25>
      <button ion-button float-right (click)="adicionarHorario()" [disabled]="!cadastroHorario.valid">Adicionar</button>
    </ion-col>
  </ion-row>
  </form>
  <ion-row *ngIf="horarios != ''">
    <ion-col><h6>Dia da Semana</h6></ion-col>
    <ion-col><h6>Hora Inicio</h6></ion-col>
    <ion-col><h6>Hora Fim</h6></ion-col>
    <ion-col><h6>Periodo</h6></ion-col>
    <ion-col><h6></h6></ion-col>
  </ion-row>
  <ion-row *ngFor="let horario of horarios; let i=index" >
    <ion-col>{{horario[0]}}</ion-col>
    <ion-col>{{horario[1]}}</ion-col>
    <ion-col>{{horario[2]}}</ion-col>
    <ion-col>{{horario[3]}}</ion-col>   
    <ion-col>
      <ion-icon md="ios-trash" title="Remover" (click)="remover(i)"></ion-icon> 
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row *ngIf="horarios != ''">
      <ion-col col-auto>
        <button ion-button color="danger" (click)="cancelar()">Cancelar</button>        
      </ion-col>
      <ion-col col-auto>
        <button ion-button color="secondary" (click)="incluirHorario()">Confirmar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
