<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Pacientes Agendados</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar placeholder="Buscar..." (ionInput)="filtrarItens($event)"></ion-searchbar>
  <button ion-button float-right (click)="incluir()">Novo Atendimento</button>
  <ion-grid>
      <ion-row *ngIf="listaAgenda != '' && listaAgenda != null">
        <ion-col width-10><h6>Status</h6></ion-col>
        <ion-col width-10><h6>Nome</h6></ion-col>
        <ion-col width-10><h6>Dia da Semana</h6></ion-col>
        <ion-col width-10><h6>Horário</h6></ion-col>
        <ion-col width-10><h6>Número de Sessões</h6></ion-col>
        <ion-col width-10><h6>Início Atendimento</h6></ion-col>
        <ion-col width-10></ion-col>
      </ion-row>
      <ion-row *ngFor="let agenda of listaAgenda">
        <ion-col><img [src]="agenda.status" title="{{agenda.titulostatus}}"/></ion-col>
        <ion-col>{{ agenda.nomepaciente }}</ion-col>
        <ion-col>{{ agenda.descricaosemana }}</ion-col>
        <ion-col>{{ agenda.descricaohorainicio }}</ion-col>
        <ion-col>{{ agenda.numerosessoes }}</ion-col>
        <ion-col>{{ agenda.datainicio | date: 'dd/MM/yyyy'}}</ion-col>
        <ion-col class="iconeDireita">
            <ion-icon md="md-mail" title="Enviar exames" (click)="enviarExames(agenda.idpaciente, agenda.nomeestagiario)" *ngIf="agenda.exames == 1"></ion-icon>
            <ion-icon md="md-trash" title="Excluir" (click)="excluir(agenda.idagenda)" *ngIf="agenda.idstatus == 1"></ion-icon>
            <ion-icon ios="md-settings" md="md-settings" title="Gerenciar" (click)="gerenciar(agenda)" *ngIf="agenda.idstatus != 4"></ion-icon>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
