<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastrar grupo de estagiários</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
      <ion-item>
        <ion-label floating>Selecione o Grupo:</ion-label>
        <ion-select name="grupo" [(ngModel)]="grupo">
          <ion-option *ngFor="let grupo of grupos" value="{{ grupo.idgrupo }}">{{ grupo.descricaogrupo }}</ion-option>
        </ion-select>
      </ion-item>
      <br />
      <ion-item *ngFor="let estagiario of estagiarios" >
        <ion-label>{{ estagiario.nomeestagiario }}</ion-label>
        <ion-checkbox name="idEstagiario" [(ngModel)]="estagiario.checked" ></ion-checkbox>
      </ion-item>
    </ion-row>
    <button ion-button color="danger" (click)="cancelar()">Cancelar</button>
    <button ion-button color="secondary" (click)="cadastrarGrupoEstagiario()">Confirmar</button>
</ion-content>