page-listar-pacientes {
    .iconeDireita{
        text-align: right;
    }

    .iconeEsquerda{
        text-align: left;
    }    

    .ocultar{
        display: none;
    }

    .mostrar{
        display: initial;
    }
}
